html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  list-style: none;
  transition: all 0.5s ease;
}
body {
  width: 100%;
  height: 100vh;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.button-1 {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}
.button-1:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-2 {
  font-size: 1em;
  margin: 20px;
  background-color: white;
  font-weight: 600;
  outline: 1px solid red;
  width: 120px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
} 
.button-2:hover {
  background: linear-gradient(45deg, red, orange);
  color: white;
  box-shadow: 0 0 10px red;
  border: none;
}
.section-title {
  text-transform: uppercase;
  font-weight: 600;
}
.glass-box {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  outline: 1px solid white;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  flex-direction: column;
  text-align: center;
  animation: appear linear;
  animation-timeline: view();
}

#header {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 20px;
  position: fixed;
  z-index: 1000;
}
#header h1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  float: left;
}
#header input[type="checkbox"]:checked ~ nav {
  display: block;
}
#header nav {
  float: right;
  display: none;
}
#header nav ul {
  display: flex;
  align-items: center;
}
#header nav ul a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

#home #greetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home #greetBox h1 {
  font-size: 4em;
}
#home #greetBox h1 p {
  float: right;
  color: red;
  font-size: inherit;
  animation: blink 1s linear infinite;
}
#home #greetBox span {
  font-size: 1em;
}

#about #banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
#about #aboutContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-sect h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#service {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#serviceTitle, #bundleTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
#serviceContainer {
  height: 70%;
  display: grid;
}
#serviceContainer .service-cards {
  background-color: black;
  color: white;
  display: flex;
}
#serviceContainer .service-cards h1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  left: 0;
  font-size: 1.5rem;
}
#serviceContainer .service-cards span {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 4rem;
  font-weight: 700;
}
#serviceContainer .service-cards p {
  width: 70%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  position: absolute;
  text-align: justify;
}
#serviceContainer .service-cards:hover h1 {
  left: 70%;
  width: 30%;
  font-size: 1rem;
}
#serviceContainer .service-cards:hover p {
  opacity: 1;
}
#serviceContainer .service-cards {
  animation: show-up linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}


.info {
  width: 100%;
  height: 50%;
  padding: 10px;
  color: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.info h3 {
  height: 40%;
  font-size: 2em;
  font-weight: 200;
}
.info span {
  height: 40%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.bundle-cards .benefits {
  margin-block: 10px;
  font-weight:  300;
  color: #585858;
}
.bundle-cards:hover {
  transform: translateY(0);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

#contactSection {
  width: 80%;
  height:50%;
  display: flex;
}
#contactForm {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px;
}
#contactForm h2, #siteMap h2 {
  font-size: 2em;
  margin: 10px;
}
#contactForm form {
  height: 100px;
  display: flex;
  flex-direction: column;
}
#contactForm form input {
  width: 100%;
  height: 25px;
  padding: 10px;
  color: black;
}
#contactForm form button {
  width: 100px;
  height: 50px;
  padding: 10px;
  margin: 0;
}
#siteMap {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
#siteMap a {
  font-size: 1.2em;
  width: 100px;
  text-align: left;
  margin-bottom: 5px;
}
#siteMap a:hover {
  color: rgba(255, 255, 255, 0.2);
}
#mediaList {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mediaList a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#mediaList a img, i, #header label img {
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}
footer {
  width: 100%;
  height: 10%;
  color: rgb(73, 73, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#account #accBox {
  border-radius: 10px;
  animation: none;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  pad: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.acc-sect {
  background-color: black;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  transform: translateX(100%);
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acc-sect h1 {
  font-size: 3rem;
}
.acc-sect p {
  width: 80%;
  text-align: center;
  margin: 20px;
}
.acc-sect:has(input[type="checkbox"]:checked) {
    transform: translateX(0);
}
.acc-form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.acc-form h1 {
  font-size: 3rem;
}
.acc-form form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 350px;
  justify-content: center;
  align-items: center;
}
.acc-form form input, .acc-form form a {
  width: 100%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}